{
  "openapi": "3.0.0",
  "info": {
    "title": "Instagram API",
    "version": "1.0.0",
    "description": "This collection will allow you to connect to [Instagram's Graph API](https://developers.facebook.com/docs/instagram-api/), which allows Instagram Professionals - Businesses and Creators - to manage their presence on the platform. This guide will help you to **generate tokens**, **publish content**, **gather insights** and **manage an Instagram profile**.\n\nThe API is built on top of Facebook's Graph API, we recommend giving [this guide](https://developers.facebook.com/docs/graph-api/) a look before getting started.\n\n# Before You Start\n\nTo interact with the API, you must first have a Facebook App. You can create one following this [guide](https://desktop.postman.com/?desktopVersion=9.31.0&webVersion=9.31.22-ui-221031-1419&userId=19667706&teamId=3121756), for the purposes of the guide, we recommend using a `Business` App.\n\nAfter creating the app, you must generate a **User Access Token** with it. This token will allow you to manage permissions and objects you manage, you can generate it with this [guide](https://desktop.postman.com/?desktopVersion=9.31.0&webVersion=9.31.22-ui-221031-1419&userId=19667706&teamId=3121756). Afterwards, make sure to select the `Instagram` environment in Postman and paste the resulting token under the `user_access_token` variable."
  },
  "servers": [
    {
      "url": "https://graph.facebook.com"
    },
    {
      "url": "https://graph.instagram.com"
    },
    {
      "url": ""
    }
  ],
  "paths": {
    "/{api_version}/me/accounts": {
      "get": {
        "summary": "Get Access Tokens of Pages You Manage",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "name,access_token,tasks,instagram_business_account"
          },
          {
            "name": "access_token",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "{{user_access_token}}"
          },
          {
            "name": "User-Agent",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "Postman/InstagramCollection"
          }
        ],
        "responses": {
          "200": {
            "description": "Get Access Tokens of Pages You Manage",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": "{\n    \"data\": [\n        {\n            \"name\": \"{page_name}\",\n            \"access_token\": \"{page_access_token}\",\n            \"instagram_business_account\": {\n                \"id\": \"{ig_user_id}\"\n            },\n            \"id\": \"{page_id}\",\n            \"tasks\": [\n                \"ANALYZE\",\n                \"ADVERTISE\",\n                \"MESSAGING\",\n                \"MODERATE\",\n                \"CREATE_CONTENT\",\n                \"MANAGE\"\n            ]\n        }\n        //...\n    ]\n}"
              }
            }
          }
        },
        "tags": [
          "Instagram API with Facebook Login",
          "Token"
        ],
        "description": "This request uses a **User Access Token** to get a list of all the pages managed by a User. Make sure to choose one page from the list, copy the `ID` into the `page_id` variable, the `access_token` field into the `page_access_token` variable of the environment and the `instagram_business_account` field into the `ig_user_id` variable.\n\nThis new access token is a **Page Access Token**, which acts on behalf of a Page that is linked to an Instagram profile.\n\nMore available fields can be found [here](https://developers.facebook.com/docs/graph-api/reference/page/#fields)."
      },
      "parameters": [
        {
          "name": "api_version",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "{{api_version}}"
        }
      ]
    },
    "/{api_version}/{page_id}": {
      "get": {
        "summary": "Get Specific Page Access Token",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "name,access_token,instagram_business_account"
          },
          {
            "name": "access_token",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "{{user_access_token}}"
          },
          {
            "name": "User-Agent",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "Postman/InstagramCollection"
          }
        ],
        "responses": {
          "200": {
            "description": "Get Specific Page Access Token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "access_token": {
                      "type": "string"
                    },
                    "instagram_business_account": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        }
                      }
                    },
                    "id": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "name": "{page_name}",
                  "access_token": "{page_access_token}",
                  "instagram_business_account": {
                    "id": "{ig_user_id}"
                  },
                  "id": "{page_id}"
                }
              }
            }
          }
        },
        "tags": [
          "Instagram API with Facebook Login",
          "Token"
        ],
        "description": "If you already have the `page_id` available, you can query directly this endpoint to get the specific **Page Access Token** you need and avoid having to search for it on the list.\n\nMore available fields can be found [here](https://developers.facebook.com/docs/graph-api/reference/page/#fields)."
      },
      "parameters": [
        {
          "name": "api_version",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "{{api_version}}"
        },
        {
          "name": "page_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "{{page_id}}"
        }
      ]
    },
    "/{api_version}/{ig_user_id}/media": {
      "post": {
        "summary": "Upload a Reel to an IG Container",
        "parameters": [
          {
            "name": "media_type",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "REELS"
          },
          {
            "name": "video_url",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "{{video_url}}"
          },
          {
            "name": "caption",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "Hello World!"
          },
          {
            "name": "share_to_feed",
            "in": "query",
            "description": "If set to true, the reel will appear in both the Feed and Reels tab. If it's set to false, it will only appear in the Reels tab.",
            "schema": {
              "type": "boolean"
            },
            "example": "false"
          },
          {
            "name": "access_token",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "{{page_access_token}}"
          },
          {
            "name": "User-Agent",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "Postman/InstagramCollection"
          }
        ],
        "responses": {
          "200": {
            "description": "Upload a Reel to an IG Container",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": "{\n    \"id\": \"18270815569115548\"//IG Container ID\n}"
              }
            }
          }
        },
        "tags": [
          "Instagram API with Facebook Login",
          "Reels Publishing"
        ],
        "description": "This request will create an IG Container to hold the Reel. It will return a `container_id` that will be automatically placed into the `ig_container_id` variable. The `media_type` parameter will determine the type of video published, in this case REELS. It is important that the link in the `video_url` variable is accessible publicly as we will cURL the video from the server."
      },
      "parameters": [
        {
          "name": "api_version",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "{{api_version}}"
        },
        {
          "name": "ig_user_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "{{ig_user_id}}"
        }
      ]
    },
    "/{api_version}/{ig_user_id}/media_publish": {
      "post": {
        "summary": "Publish Reel",
        "parameters": [
          {
            "name": "creation_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "{{ig_container_id}}"
          },
          {
            "name": "access_token",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "{{page_access_token}}"
          },
          {
            "name": "User-Agent",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "Postman/InstagramCollection"
          }
        ],
        "responses": {
          "200": {
            "description": "Publish Reel",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": "{\n    \"id\": \"90011803596441\"//IG Media ID\n}"
              }
            }
          }
        },
        "tags": [
          "Instagram API with Facebook Login",
          "Reels Publishing"
        ],
        "description": "This request finalizes the Reels Publishing process and posts the Reel into a User's profile."
      },
      "parameters": [
        {
          "name": "api_version",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "{{api_version}}"
        },
        {
          "name": "ig_user_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "{{ig_user_id}}"
        }
      ]
    },
    "/{api_version}/{ig_user_id}/messages": {
      "post": {
        "summary": "Generic Template",
        "responses": {
          "200": {
            "description": "Generic Template",
            "headers": {
              "Vary": {
                "schema": {
                  "type": "string"
                },
                "example": "Origin"
              },
              "cross-origin-resource-policy": {
                "schema": {
                  "type": "string"
                },
                "example": "cross-origin"
              },
              "x-app-usage": {
                "schema": {
                  "type": "string"
                },
                "example": "{\"call_volume\":0,\"cpu_time\":0}"
              },
              "instagram-api-version": {
                "schema": {
                  "type": "string"
                },
                "example": "v22.0"
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                },
                "example": "*"
              },
              "Strict-Transport-Security": {
                "schema": {
                  "type": "string"
                },
                "example": "max-age=31536000; preload; includeSubDomains"
              },
              "Pragma": {
                "schema": {
                  "type": "string"
                },
                "example": "no-cache"
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                },
                "example": "private, no-cache, no-store, must-revalidate"
              },
              "Expires": {
                "schema": {
                  "type": "string"
                },
                "example": "Sat, 01 Jan 2000 00:00:00 GMT"
              },
              "x-fb-request-id": {
                "schema": {
                  "type": "string"
                },
                "example": "ACVTGgcRPSE1De4_h1rdsFD"
              },
              "x-fb-trace-id": {
                "schema": {
                  "type": "string"
                },
                "example": "BDfKVA4BfGT"
              },
              "x-fb-rev": {
                "schema": {
                  "type": "integer"
                },
                "example": "1026131876"
              },
              "x-stack": {
                "schema": {
                  "type": "string"
                },
                "example": "www"
              },
              "X-FB-Debug": {
                "schema": {
                  "type": "string"
                },
                "example": "b26c4M48osSlv9G17ovESIGQnGBoZciAm0GK8+MIrxwuU4OaxjsqtxsiH/C5yYAlA8gikAlfKRjfjS+EmiLIBQ=="
              },
              "Date": {
                "schema": {
                  "type": "string"
                },
                "example": "Wed, 20 Aug 2025 22:27:40 GMT"
              },
              "X-FB-Connection-Quality": {
                "schema": {
                  "type": "string"
                },
                "example": "EXCELLENT; q=0.9, rtt=27, rtx=0, c=16, mss=1208, tbw=4405, tp=-1, tpl=-1, uplat=993, ullat=0"
              },
              "Alt-Svc": {
                "schema": {
                  "type": "string"
                },
                "example": "h3=\":443\"; ma=86400"
              },
              "Connection": {
                "schema": {
                  "type": "string"
                },
                "example": "keep-alive"
              },
              "Content-Length": {
                "schema": {
                  "type": "integer"
                },
                "example": "209"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "recipient_id": {
                      "type": "string",
                      "format": "utc-millisec"
                    },
                    "message_id": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "recipient_id": "20802401916297",
                  "message_id": "aWdfZAG1faXRlbToxOklHTWVzc2FnZAUlEOjEyNTAyNDAyNjQwOTMwOjM0MDI4MjM2Njg0MTcxMDMwMTI0NDI1ODE4NzUxOTk3OTcyODI5MjozMjM4NzQ4MDk1NTU2NDIxMjIzNDE1NjY3NTg0NzY4NDA5NgZDZD"
                }
              }
            }
          }
        },
        "tags": [
          "Instagram API with Instagram Login",
          "Send API",
          "Templates"
        ]
      },
      "parameters": [
        {
          "name": "api_version",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "{{api_version}}"
        },
        {
          "name": "ig_user_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "{{ig_user_id}}"
        }
      ]
    },
    "/{api_version}/{ig_user_id}/welcome_message_flows": {
      "get": {
        "summary": "Get all flows",
        "responses": {
          "200": {
            "description": "Get all flows",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "eligible_platforms": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "welcome_message_flow": {
                            "type": "string",
                            "format": "style"
                          },
                          "last_update_time": {
                            "type": "string"
                          },
                          "is_used_in_ad": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "paging": {
                      "type": "object",
                      "properties": {
                        "cursors": {
                          "type": "object",
                          "properties": {
                            "before": {
                              "type": "string"
                            },
                            "after": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "name": "Customer intake flow",
                      "eligible_platforms": [
                        "INSTAGRAM"
                      ],
                      "welcome_message_flow": "[{\"message\":{\"text\":\"Learn more about our summer sale!\",\"quick_replies\":[{\"title\":\"I am interested!\",\"content_type\":\"text\",\"payload\":\"summer-sale-interest\"},{\"title\":\"I have another quest...\",\"content_type\":\"text\",\"payload\":\"another-question\"}]}}]",
                      "last_update_time": "2025-08-14T19:06:34+0000",
                      "is_used_in_ad": false,
                      "id": "<flow_id_1>"
                    },
                    {
                      "name": "New customer welcome flow",
                      "eligible_platforms": [
                        "INSTAGRAM"
                      ],
                      "welcome_message_flow": "[{\"message\":{\"text\":\"Welcome to our community!\"}}]",
                      "last_update_time": "2024-10-10T20:44:04+0000",
                      "is_used_in_ad": false,
                      "id": "<flow_id_2>"
                    }
                  ],
                  "paging": {
                    "cursors": {
                      "before": "<before_cursor_hash>",
                      "after": "<after_cursor_hash>"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Instagram API with Instagram Login",
          "Welcome Message Flows API"
        ],
        "description": "Use this request to get a list of Welcome Message Flows for the given instagram business user.\n\nOn success, your app will receive a list of flows created for that particular app."
      },
      "parameters": [
        {
          "name": "api_version",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "{{api_version}}"
        },
        {
          "name": "ig_user_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "{{ig_user_id}}"
        }
      ],
      "post": {
        "summary": "Create a new flow",
        "responses": {
          "200": {
            "description": "Create a new flow",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "flow_id": {
                      "type": "string",
                      "format": "utc-millisec"
                    }
                  }
                },
                "example": {
                  "flow_id": "1234567890"
                }
              }
            }
          }
        },
        "tags": [
          "Instagram API with Instagram Login",
          "Welcome Message Flows API"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "welcome_message_flow": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "object",
                          "properties": {
                            "text": {
                              "type": "string"
                            },
                            "quick_replies": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "content_type": {
                                    "type": "string"
                                  },
                                  "title": {
                                    "type": "string"
                                  },
                                  "payload": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "eligible_platforms": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              },
              "example": {
                "name": "Customer intake flow",
                "welcome_message_flow": [
                  {
                    "message": {
                      "text": "Learn more about our summer sale!",
                      "quick_replies": [
                        {
                          "content_type": "text",
                          "title": "I am interested!",
                          "payload": "summer-sale-interest"
                        },
                        {
                          "content_type": "text",
                          "title": "I have another question.",
                          "payload": "another-question"
                        }
                      ]
                    }
                  }
                ],
                "eligible_platforms": [
                  "instagram"
                ]
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete an existing flow",
        "parameters": [
          {
            "name": "flow_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "{{flow_id}}"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete an existing flow",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                },
                "example": {
                  "success": true
                }
              }
            }
          }
        },
        "tags": [
          "Instagram API with Instagram Login",
          "Welcome Message Flows API"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/{api_version}/{ig_user_id}/messenger_profile": {
      "post": {
        "summary": "Set Persistent Menu",
        "responses": {
          "default": {
            "description": "Set Persistent Menu"
          }
        },
        "tags": [
          "Instagram API with Instagram Login",
          "Messenger Profile API",
          "Persistent Menu"
        ],
        "description": "To set a persistent menu, send a `POST` request to the `//messenger_profile` endpoint with the `platform` property set to `instagram` and `persistent_menu` property with `composer_input_disabled` set to `false`, `locale` set to `default` or the locale of your choice, and an array of `call_to_action` objects. Each `call_to_action` object defines a menu item with the following parameters:\n\n- `title` set to the button text\n    \n- `type` set to `postback` or `web_url` button type\n    \n- `payload` for a `postback` button or `url` for a `web_url` button\n    \n- `webview_height_ratio` set to `full` for `web_url` buttons\n    \n\n### Localize a menu\n\nTo localize a menu, create a `call_to_actions` array for each locale. The locale code is a combination of ISO 639-1 language code and ISO 3166-1 country code."
      },
      "parameters": [
        {
          "name": "api_version",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "{{api_version}}"
        },
        {
          "name": "ig_user_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "{{ig_user_id}}"
        }
      ],
      "get": {
        "summary": "Get Persistent Menu",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "persistent_menu"
          }
        ],
        "responses": {
          "default": {
            "description": "Get Persistent Menu"
          }
        },
        "tags": [
          "Instagram API with Instagram Login",
          "Messenger Profile API",
          "Persistent Menu"
        ],
        "description": "To get a list of your ice breakers, send a `GET` request to the `/me/messenger_profile` endpoint, where `me` is the ID for your app user's Instagram professional account, with the `fields` parameter set to `ice_breakers`."
      },
      "delete": {
        "summary": "Delete Persistent Menu",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "['persistent_menu']"
          }
        ],
        "responses": {
          "default": {
            "description": "Delete Persistent Menu"
          }
        },
        "tags": [
          "Instagram API with Instagram Login",
          "Messenger Profile API",
          "Persistent Menu"
        ],
        "description": "To delete ice breakers, send a `DELETE` request to the `//messenger_profile` endpoint, where  is the ID for your app user's Instagram professional account, with the `fields` parameter set to an array that includes `ice_breakers`."
      }
    },
    "/{api_version}/{ig_user_id}/message_attachments": {
      "post": {
        "summary": "Attachment Upload(Photo)",
        "responses": {
          "default": {
            "description": "Attachment Upload(Photo)"
          }
        },
        "tags": [
          "Instagram API with Instagram Login",
          "Attachment Upload API"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": {
                    "type": "object",
                    "properties": {
                      "attachment": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string"
                          },
                          "payload": {
                            "type": "object",
                            "properties": {
                              "url": {
                                "type": "string"
                              },
                              "is_reusable": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "example": {
                "message": {
                  "attachment": {
                    "type": "image",
                    "payload": {
                      "url": "<PATH_TO_ASSET>",
                      "is_reusable": "<IS_REUSABLE?>"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "api_version",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "{{api_version}}"
        },
        {
          "name": "ig_user_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "{{ig_user_id}}"
        }
      ]
    },
    "/{api_version}/{ig_user_id}/conversations": {
      "get": {
        "summary": "Get a List of Conversations",
        "parameters": [
          {
            "name": "platform",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "instagram"
          }
        ],
        "responses": {
          "200": {
            "description": "Get a list of Conversations",
            "headers": {
              "Content-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "br"
              },
              "ETag": {
                "schema": {
                  "type": "string"
                },
                "example": "\"c546a87ab6a6ce64168e9cbc2c1097ef61c46216\""
              },
              "Vary": {
                "schema": {
                  "type": "string"
                },
                "example": "Accept-Encoding"
              },
              "cross-origin-resource-policy": {
                "schema": {
                  "type": "string"
                },
                "example": "cross-origin"
              },
              "x-app-usage": {
                "schema": {
                  "type": "string"
                },
                "example": "{\"call_volume\":0,\"cpu_time\":0}"
              },
              "instagram-api-version": {
                "schema": {
                  "type": "string"
                },
                "example": "v23.0"
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                },
                "example": "*"
              },
              "Strict-Transport-Security": {
                "schema": {
                  "type": "string"
                },
                "example": "max-age=31536000; preload; includeSubDomains"
              },
              "Pragma": {
                "schema": {
                  "type": "string"
                },
                "example": "no-cache"
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                },
                "example": "private, no-cache, no-store, must-revalidate"
              },
              "Expires": {
                "schema": {
                  "type": "string"
                },
                "example": "Sat, 01 Jan 2000 00:00:00 GMT"
              },
              "x-fb-request-id": {
                "schema": {
                  "type": "string"
                },
                "example": "ATRJOwuMEfwzKEMCw3Su59k"
              },
              "x-fb-trace-id": {
                "schema": {
                  "type": "string"
                },
                "example": "HTZnxpA1Od0"
              },
              "x-fb-rev": {
                "schema": {
                  "type": "integer"
                },
                "example": "1026701099"
              },
              "x-stack": {
                "schema": {
                  "type": "string"
                },
                "example": "www"
              },
              "X-FB-Debug": {
                "schema": {
                  "type": "string"
                },
                "example": "/Aql+5F0lmvlwfhdOhbQSe7kAOWL6sR14knGGKVF7BBDgyRVArfTTYwpKfOuTs8oP+1WTE5+QFym2qIwZC+XYw=="
              },
              "Date": {
                "schema": {
                  "type": "string"
                },
                "example": "Thu, 04 Sep 2025 17:34:39 GMT"
              },
              "X-FB-Connection-Quality": {
                "schema": {
                  "type": "string"
                },
                "example": "EXCELLENT; q=0.9, rtt=8, rtx=0, c=14, mss=1380, tbw=3336, tp=-1, tpl=-1, uplat=5244, ullat=0"
              },
              "Alt-Svc": {
                "schema": {
                  "type": "string"
                },
                "example": "h3=\":443\"; ma=86400"
              },
              "Connection": {
                "schema": {
                  "type": "string"
                },
                "example": "keep-alive"
              },
              "Content-Length": {
                "schema": {
                  "type": "integer"
                },
                "example": "829"
              }
            }
          }
        },
        "tags": [
          "Instagram API with Instagram Login",
          "Conversations API"
        ],
        "description": "To get a list of your app user's conversations for an Instagram professional account, send a `GET` request to the `/conversations` endpoint."
      },
      "parameters": [
        {
          "name": "api_version",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "{{api_version}}"
        },
        {
          "name": "ig_user_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "{{ig_user_id}}"
        }
      ]
    },
    "/v23.0/{message_id}": {
      "get": {
        "summary": "Get information about a message",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "id,created_time,from,to,message"
          }
        ],
        "responses": {
          "200": {
            "description": "Get information about a message",
            "headers": {
              "Content-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "br"
              },
              "ETag": {
                "schema": {
                  "type": "string"
                },
                "example": "\"c98caf002ce205c8f3194351ca7ce75be592056e\""
              },
              "Vary": {
                "schema": {
                  "type": "string"
                },
                "example": "Accept-Encoding"
              },
              "cross-origin-resource-policy": {
                "schema": {
                  "type": "string"
                },
                "example": "cross-origin"
              },
              "x-app-usage": {
                "schema": {
                  "type": "string"
                },
                "example": "{\"call_volume\":0,\"cpu_time\":0}"
              },
              "instagram-api-version": {
                "schema": {
                  "type": "string"
                },
                "example": "v23.0"
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                },
                "example": "*"
              },
              "Strict-Transport-Security": {
                "schema": {
                  "type": "string"
                },
                "example": "max-age=31536000; preload; includeSubDomains"
              },
              "Pragma": {
                "schema": {
                  "type": "string"
                },
                "example": "no-cache"
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                },
                "example": "private, no-cache, no-store, must-revalidate"
              },
              "Expires": {
                "schema": {
                  "type": "string"
                },
                "example": "Sat, 01 Jan 2000 00:00:00 GMT"
              },
              "x-fb-request-id": {
                "schema": {
                  "type": "string"
                },
                "example": "A-IwtKjdPucPzUMNqOxp2JT"
              },
              "x-fb-trace-id": {
                "schema": {
                  "type": "string"
                },
                "example": "HENew9ow9QI"
              },
              "x-fb-rev": {
                "schema": {
                  "type": "integer"
                },
                "example": "1026701099"
              },
              "x-stack": {
                "schema": {
                  "type": "string"
                },
                "example": "www"
              },
              "X-FB-Debug": {
                "schema": {
                  "type": "string"
                },
                "example": "OIu0BsabLvNjFExXguwzHmrmuV4hcYrEbtRqrpy98Wl65uILqvbA88i05YaLHyOzKhjoGlDXm1SUdNNLHlhMdw=="
              },
              "Date": {
                "schema": {
                  "type": "string"
                },
                "example": "Thu, 04 Sep 2025 17:39:57 GMT"
              },
              "X-FB-Connection-Quality": {
                "schema": {
                  "type": "string"
                },
                "example": "EXCELLENT; q=0.9, rtt=8, rtx=0, c=12, mss=1380, tbw=379, tp=-1, tpl=-1, uplat=692, ullat=0"
              },
              "Alt-Svc": {
                "schema": {
                  "type": "string"
                },
                "example": "h3=\":443\"; ma=86400"
              },
              "Connection": {
                "schema": {
                  "type": "string"
                },
                "example": "keep-alive"
              },
              "Content-Length": {
                "schema": {
                  "type": "integer"
                },
                "example": "283"
              }
            }
          }
        },
        "tags": [
          "Instagram API with Instagram Login",
          "Conversations API"
        ],
        "description": "To get information about a message, such as the sender, receiver, and message content, send a `GET` request to the `/` endpoint with the `fields` parameter set to a comma separated list of fields you are interested in.\n\nDefault fields are `id` and `created_time`.\n\n**Note:** Queries to the `/` endpoint will return all message IDs in a conversation. However, you can only get details about the 20 most recent messages in the conversation. If you query a message that is older than the last 20, you will see an error that the message has been deleted."
      },
      "parameters": [
        {
          "name": "message_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "{{message_id}}"
        }
      ]
    },
    "/{api_version}/{ig_user_id}/subscribed_apps": {
      "post": {
        "summary": "Subscribe to webhooks",
        "responses": {},
        "tags": [
          "Instagram API with Instagram Login",
          "Webhooks",
          "Subscribe App to Pro Account's webhooks"
        ],
        "description": "#### Example Request\n\n```\ncurl -i -X POST \\\n  \"https://graph.instagram.com/v24.0/1755847768034402/subscribed_apps\n  ?subscribed_fields=comments,messages\n  &access_token=EAAFB...\"\n\n ```\n\nOn success, your app receives a JSON response with `success` set to `true`.\n\n```\n{\n  \"success\": true\n}\n\n ```\n\nGuide: [Subscribe to webhooks](https://developers.facebook.com/docs/instagram-platform/webhooks#enable-subscriptions)",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "subscribed_fields": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              },
              "example": {
                "subscribed_fields": [
                  "messages",
                  "messaging_postbacks",
                  "messaging_seen",
                  "messaging_handover",
                  "messaging_referral",
                  "message_reactions",
                  "standby",
                  "comments",
                  "live_comments",
                  "mentions",
                  "story_insights"
                ]
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "api_version",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "{{api_version}}"
        },
        {
          "name": "ig_user_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "{{ig_user_id}}"
        }
      ],
      "get": {
        "summary": "Get subscribed webhook fields",
        "responses": {},
        "tags": [
          "Instagram API with Instagram Login",
          "Webhooks",
          "Get All Pro Account's webhooks subscribed by App"
        ],
        "description": "#### Example Request\n\n```\ncurl -i -X GET \\\n  \"https://graph.instagram.com/v24.0/1755847768034402/subscribed_apps\n  &access_token=EAAFB...\"\n\n ```\n\nOn success, your app receives a JSON response with `success` set to `true`.\n\n```\n{\n    \"data\": [\n        {\n            \"id\": \"45202396782467\",\n            \"subscribed_fields\": [\n                \"messages\",\n                \"messaging_postbacks\",\n                \"messaging_seen\",\n                \"messaging_handover\",\n                \"messaging_referral\",\n                \"message_reactions\",\n                \"standby\",\n                \"comments\",\n                \"live_comments\",\n                \"mentions\",\n                \"story_insights\"\n            ]\n        }\n    ]\n}\n\n ```\n\n[View complete documentation](https://developers.facebook.com/docs/instagram-platform/webhooks)"
      },
      "delete": {
        "summary": "Delete webhook subscription",
        "responses": {},
        "tags": [
          "Instagram API with Instagram Login",
          "Webhooks",
          "Delete App's Pro account webhook subscription"
        ],
        "description": "#### Example Request\n\n```\ncurl -i -X DELETE \\\n  \"https://graph.instagram.com/v24.0/1755847768034402/subscribed_apps\n  &access_token=EAAFB...\"\n\n ```\n\nOn success, your app receives a JSON response with `success` set to `true`.\n\n```\n{\n  \"success\": true\n}\n\n ```\n\n[View complete documentation](https://developers.facebook.com/docs/instagram-platform/webhooks)"
      }
    },
    "/": {
      "view": {
        "summary": "Self messaging echo webhook",
        "responses": {},
        "tags": [
          "Instagram API with Instagram Login",
          "Webhooks",
          "Webhook payload reference",
          "Self webhook"
        ],
        "description": "When an Instagram Professional account sends a message to itself in the Instagram app, an **echo webhook** is triggered, including the **Instagram-scoped ID** of the account. `is_self` with a value of `true` indicates it is a self message.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "object": {
                    "type": "string"
                  },
                  "entry": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "time": {
                          "type": "string"
                        },
                        "messaging": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "sender": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  }
                                }
                              },
                              "recipient": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  }
                                }
                              },
                              "timestamp": {
                                "type": "string"
                              },
                              "message": {
                                "type": "object",
                                "properties": {
                                  "mid": {
                                    "type": "string"
                                  },
                                  "text": {
                                    "type": "string"
                                  },
                                  "is_echo": {
                                    "type": "boolean"
                                  },
                                  "is_self": {
                                    "type": "boolean"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "example": {
                "object": "instagram",
                "entry": [
                  {
                    "id": "<YOUR_APP_USERS_IG_USER_ID>",
                    "time": "<TIME_META_SENT_THIS_NOTIFICATION>",
                    "messaging": [
                      {
                        "sender": {
                          "id": "<YOUR_APP_USERS_IG_USER_ID>"
                        },
                        "recipient": {
                          "id": "<YOUR_APP_USERS_INSTAGRAM_SCOPED_ID>"
                        },
                        "timestamp": "<TIME_META_SENT_THIS_NOTIFICATION>",
                        "message": {
                          "mid": "<MESSAGE_ID>",
                          "text": "<MESSAGE_TEXT>",
                          "is_echo": true,
                          "is_self": true
                        }
                      }
                    ]
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/{api_version}/{ig_user_id}/insights": {
      "get": {
        "summary": "Instagram Account Insights",
        "parameters": [
          {
            "name": "metric",
            "in": "query",
            "description": "Metric - reach, follower_count, website_clicks, profile_views, online_followers, accounts_engaged, total_interactions, likes, comments, shares, saves, replies, engaged_audience_demographics, reached_audience_demographics, follower_demographics, follows_and_unfollows, profile_links_taps, views, threads_likes, threads_replies, reposts, quotes, threads_followers, threads_follower_demographics, content_views, threads_views, threads_clicks, threads_reposts",
            "schema": {
              "type": "string"
            },
            "example": "reach,profile_views"
          },
          {
            "name": "period",
            "in": "query",
            "description": "Time period - day, week, days_28, month, lifetime, total_over_range",
            "schema": {
              "type": "string"
            },
            "example": "day"
          }
        ],
        "responses": {
          "200": {
            "description": "Instagram Account Insights",
            "headers": {
              "Content-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "br"
              },
              "ETag": {
                "schema": {
                  "type": "string"
                },
                "example": "\"fab201613f35c204ad60cc297dd20be650166802\""
              },
              "Vary": {
                "schema": {
                  "type": "string"
                },
                "example": "Accept-Encoding"
              },
              "cross-origin-resource-policy": {
                "schema": {
                  "type": "string"
                },
                "example": "cross-origin"
              },
              "x-app-usage": {
                "schema": {
                  "type": "string"
                },
                "example": "{\"call_volume\":0,\"cpu_time\":0}"
              },
              "instagram-api-version": {
                "schema": {
                  "type": "string"
                },
                "example": "v18.0"
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                },
                "example": "*"
              },
              "Strict-Transport-Security": {
                "schema": {
                  "type": "string"
                },
                "example": "max-age=31536000; preload; includeSubDomains"
              },
              "Pragma": {
                "schema": {
                  "type": "string"
                },
                "example": "no-cache"
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                },
                "example": "private, no-cache, no-store, must-revalidate"
              },
              "Expires": {
                "schema": {
                  "type": "string"
                },
                "example": "Sat, 01 Jan 2000 00:00:00 GMT"
              },
              "x-fb-request-id": {
                "schema": {
                  "type": "string"
                },
                "example": "ABwSPBObNEQRV0hEioRrtqS"
              },
              "x-fb-trace-id": {
                "schema": {
                  "type": "string"
                },
                "example": "GARuRMLIZTc"
              },
              "x-fb-rev": {
                "schema": {
                  "type": "integer"
                },
                "example": "1030899092"
              },
              "x-stack": {
                "schema": {
                  "type": "string"
                },
                "example": "www"
              },
              "X-FB-Debug": {
                "schema": {
                  "type": "string"
                },
                "example": "CH13L7AZxaZrHHGAvTxwzLlsT05ZGEB1TANDWq3RPvc3nZqbaJWTxWYOy1jzkE6MCxYmj4w2vtYkVOLaOGcDMQ=="
              },
              "Date": {
                "schema": {
                  "type": "string"
                },
                "example": "Wed, 10 Dec 2025 22:21:16 GMT"
              },
              "X-FB-Connection-Quality": {
                "schema": {
                  "type": "string"
                },
                "example": "EXCELLENT; q=0.9, rtt=8, rtx=0, c=12, mss=1380, tbw=387, tp=-1, tpl=-1, uplat=215, ullat=0"
              },
              "Alt-Svc": {
                "schema": {
                  "type": "string"
                },
                "example": "h3=\":443\"; ma=86400"
              },
              "Connection": {
                "schema": {
                  "type": "string"
                },
                "example": "keep-alive"
              },
              "Content-Length": {
                "schema": {
                  "type": "integer"
                },
                "example": "212"
              }
            }
          }
        },
        "tags": [
          "Instagram API with Instagram Login",
          "Insights"
        ],
        "description": "The following Instagram API with Instagram Login example is getting the number of `impressions`, `profile_views`, and `reach` for your app user's Instagram professional account over one 24 hour period.\n\nTo get metrics for an Instagram business or creator account, query the [<code>GET /insights</code>](https://developers.facebook.com/docs/instagram-api/reference/ig-user/insights) endpoint with the `metrics` parameter set to a comma-separated list of the metrics, `impressions`, `profile_views`, and `reach`, and the `period` set to `day`.\n\n#### Sample Response\n\nOn success, your app receives an array for each metric that includes, the metric description, ID of the metric, name and title, the time period over which the metric was measured, and values of the metric."
      },
      "parameters": [
        {
          "name": "api_version",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "{{api_version}}"
        },
        {
          "name": "ig_user_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "{{ig_user_id}}"
        }
      ]
    },
    "/{api_version}/{ig_media_id}/comments": {
      "get": {
        "summary": "Get Comments",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "from,text"
          }
        ],
        "responses": {
          "200": {
            "description": "Get Comments",
            "headers": {
              "Content-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "br"
              },
              "ETag": {
                "schema": {
                  "type": "string"
                },
                "example": "\"5ef8127474641c389a605f623d624087d53a6966\""
              },
              "Vary": {
                "schema": {
                  "type": "string"
                },
                "example": "Accept-Encoding"
              },
              "cross-origin-resource-policy": {
                "schema": {
                  "type": "string"
                },
                "example": "cross-origin"
              },
              "x-app-usage": {
                "schema": {
                  "type": "string"
                },
                "example": "{\"call_volume\":0,\"cpu_time\":0}"
              },
              "instagram-api-version": {
                "schema": {
                  "type": "string"
                },
                "example": "v23.0"
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                },
                "example": "*"
              },
              "Strict-Transport-Security": {
                "schema": {
                  "type": "string"
                },
                "example": "max-age=31536000; preload; includeSubDomains"
              },
              "Pragma": {
                "schema": {
                  "type": "string"
                },
                "example": "no-cache"
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                },
                "example": "private, no-cache, no-store, must-revalidate"
              },
              "Expires": {
                "schema": {
                  "type": "string"
                },
                "example": "Sat, 01 Jan 2000 00:00:00 GMT"
              },
              "x-fb-request-id": {
                "schema": {
                  "type": "string"
                },
                "example": "AziTA98AZjODYFYSmlO4JfR"
              },
              "x-fb-trace-id": {
                "schema": {
                  "type": "string"
                },
                "example": "BHc7egQNkya"
              },
              "x-fb-rev": {
                "schema": {
                  "type": "integer"
                },
                "example": "1030899092"
              },
              "x-stack": {
                "schema": {
                  "type": "string"
                },
                "example": "www"
              },
              "X-FB-Debug": {
                "schema": {
                  "type": "string"
                },
                "example": "XxwkVAo/VdvcaH3/G65GN72N7WS2oaHn0I0qm4Iq2EWj7m0IWwv66s82q9MRGaoanCpLcC7DwpYRmJJdZk4wtA=="
              },
              "Date": {
                "schema": {
                  "type": "string"
                },
                "example": "Wed, 10 Dec 2025 22:33:28 GMT"
              },
              "X-FB-Connection-Quality": {
                "schema": {
                  "type": "string"
                },
                "example": "EXCELLENT; q=0.9, rtt=6, rtx=0, c=14, mss=1380, tbw=1624, tp=-1, tpl=-1, uplat=136, ullat=0"
              },
              "Alt-Svc": {
                "schema": {
                  "type": "string"
                },
                "example": "h3=\":443\"; ma=86400"
              },
              "Connection": {
                "schema": {
                  "type": "string"
                },
                "example": "keep-alive"
              },
              "Content-Length": {
                "schema": {
                  "type": "integer"
                },
                "example": "238"
              }
            }
          }
        },
        "tags": [
          "Instagram API with Instagram Login",
          "Comment Moderation"
        ],
        "description": "There are two ways to get comments on published Instagram media, an API query or a webhook notification. We strongly recommend using webhooks to prevent rate limiting.\n\n### API Request\n\nTo get all the comments on a published Instagram media object, send a `GET` request to the `/comments` endpoint.\n\nOn success your app receives a JSON response with an array of objects containing the comment ID, the comment text, and the time the comment was published."
      },
      "parameters": [
        {
          "name": "api_version",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "{{api_version}}"
        },
        {
          "name": "ig_media_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/{api_version}/{ig_comment_id}/replies": {
      "post": {
        "summary": "Reply to a comment",
        "responses": {
          "200": {
            "description": "Reply to a comment",
            "headers": {
              "Vary": {
                "schema": {
                  "type": "string"
                },
                "example": "Origin"
              },
              "cross-origin-resource-policy": {
                "schema": {
                  "type": "string"
                },
                "example": "cross-origin"
              },
              "x-app-usage": {
                "schema": {
                  "type": "string"
                },
                "example": "{\"call_volume\":0,\"cpu_time\":0}"
              },
              "instagram-api-version": {
                "schema": {
                  "type": "string"
                },
                "example": "v23.0"
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                },
                "example": "*"
              },
              "Strict-Transport-Security": {
                "schema": {
                  "type": "string"
                },
                "example": "max-age=31536000; preload; includeSubDomains"
              },
              "Pragma": {
                "schema": {
                  "type": "string"
                },
                "example": "no-cache"
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                },
                "example": "private, no-cache, no-store, must-revalidate"
              },
              "Expires": {
                "schema": {
                  "type": "string"
                },
                "example": "Sat, 01 Jan 2000 00:00:00 GMT"
              },
              "x-fb-request-id": {
                "schema": {
                  "type": "string"
                },
                "example": "AQxMn-jstfIVW_-9Ovwuh9d"
              },
              "x-fb-trace-id": {
                "schema": {
                  "type": "string"
                },
                "example": "FkcvLMIgYJI"
              },
              "x-fb-rev": {
                "schema": {
                  "type": "integer"
                },
                "example": "1030899092"
              },
              "x-stack": {
                "schema": {
                  "type": "string"
                },
                "example": "www"
              },
              "X-FB-Debug": {
                "schema": {
                  "type": "string"
                },
                "example": "vEo2QKGHoB5gz/radFpZP+kbW8KL2LR5Cj9GTWd84c7th2goTw7bN8GcF0cxtcDoXeYMnMX7oeZSq1Amjf0nlQ=="
              },
              "Date": {
                "schema": {
                  "type": "string"
                },
                "example": "Wed, 10 Dec 2025 22:37:39 GMT"
              },
              "X-FB-Connection-Quality": {
                "schema": {
                  "type": "string"
                },
                "example": "EXCELLENT; q=0.9, rtt=8, rtx=0, c=12, mss=1380, tbw=387, tp=-1, tpl=-1, uplat=837, ullat=0"
              },
              "Alt-Svc": {
                "schema": {
                  "type": "string"
                },
                "example": "h3=\":443\"; ma=86400"
              },
              "Connection": {
                "schema": {
                  "type": "string"
                },
                "example": "keep-alive"
              },
              "Content-Length": {
                "schema": {
                  "type": "integer"
                },
                "example": "26"
              }
            }
          }
        },
        "tags": [
          "Instagram API with Instagram Login",
          "Comment Moderation"
        ],
        "description": "To reply to a comment, send a `POST` request to the `/replies` endpoint, where is the ID for the comment which you want to reply, with the `message` parameter set to your message text.\n\nOn success, your app receives a JSON response with the comment ID for your comment.\n\nIf your app user has a lot of comments to reply to, you could [batch the replies into a single request](https://developers.facebook.com/docs/graph-api/making-multiple-requests/).",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "message": "Thanks for your comment!"
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "api_version",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "{{api_version}}"
        },
        {
          "name": "ig_comment_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "{{ig_comment_id}}"
        }
      ]
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ]
}